<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiley.fordummies.androidsdk.tictactoe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.wiley.fordummies.androidsdk.tictactoe.LAUNCHACTIVITY"
        android:description="@string/permission_launch_activity"
        android:label="Launch Tic-Tac-Toe Activity"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.SplashScreen"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Login"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:permission="com.wiley.fordummies.androidsdk.tictactoe.LAUNCHACTIVITY"
            android:screenOrientation="unspecified" >
            <intent-filter>
                <action android:name="com.wiley.fordummies.androidsdk.tictactoe.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Account"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.GameOptions"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.GameSession"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Help"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.HelpWithWebView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.WhereAmI"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Sensors"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Audio"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Video"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Images"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.Settings"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.wiley.fordummies.androidsdk.tictactoe.ContactsView"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.wiley.fordummies.androidsdk.tictactoe.MyPlaybackService"
            android:enabled="true" />

        <uses-library android:name="com.google.android.maps" android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAUlkgL6UcrADywAU6aEQ_d0og7TlDmhKE" />
    </application>

</manifest>